html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.footer-container{
    background-color: black;
    height: 400px;
    padding: 50px 100px;
    color: white;
}
.footer-first-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-badge{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.badge{
    display: flex;
    flex-direction: row;
    border: solid 2px white;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}
.badge:hover{
    background-color: rgb(8, 8, 100);
    color: white;
    transition: .5s;
}
.badge-logo{
    font-size: 50px;
    margin: 10px 20px 0px 0px;
}
.download-text{
    font-size: 13px;
    line-height: 1;
}
.badge-os{
    font-weight: bold;
    font-size: 17px;
    line-height: 0.5;
}
.footer-social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.social-icon{
    color: black;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}
.social-icon:hover{
    background-color: rgb(8, 8, 100);
    color: white;
    transition: .5s;
    
}
.footer-second-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}
.footer-card{
    display: flex;
    flex-direction: column;
}
.footer-page{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.footer-page:hover{
    color: rgb(8, 8, 100);
}
.form-control{
    padding: 15px;
    border: none;
}
.btn{
    padding: 15px;
    border: none;
    color: white;
    background-color: rgb(8, 8, 100);
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}
.btn:hover{
    transition: .5s;
    background-color: white;
    border: solid rgb(8, 8, 100);
    color: black;
}
.footer-last-div{
    border-top: 1px solid rgba(256, 256, 256, .1);
    border-bottom: 1px solid rgba(256, 256, 256, .1);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .footer-container{
        height: 900px;
        padding: 50px 50px;
    }
    .footer-first-div{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .footer-badge{
        width: 100%;
        margin-bottom: 15px;
    }
    .badge{
        width: 150px;
    }
    .badge-logo{
        font-size: 35px;
        margin: 10px 10px 0px 0px;
    }
    #download-text{
        font-size: 12px !important;
    }
    .badge-os{
        font-size: 16px;
    }
    .footer-second-div{
        grid-template-columns: 1fr;
    }

    #logo-text-footer{
        font-size: 18px;
    }
    .footer-copy{
        font-size: 14px;
        margin-top: 15px;
        padding-top: 15px;
    }
    .footer-container a{
        font-size: 14px;
    }
    .footer-container p{
        font-size: 16px;
    }
}